body
{
    background :url('https://us.123rf.com/450wm/virtosmedia/virtosmedia2302/virtosmedia230230962/198625737-lipstick-and-pink-powder-splashes-on-black-background-3d-render.jpg?ver=6');
    background-repeat: no-repeat;
    background-size: cover;
}
